@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply h-full;
  font-family: "Geneva", sans-serif;
}
body {
  @apply h-full;
  font-family: "Geneva", sans-serif;
  overflow: hidden;
  cursor: url("../assets/cursors/arrow.cur"), auto;
}
